.amber {
    background-image: url('/Images/Pyro/Character_Amber_Thumb.png');
    background-size: cover;
    border-radius: 50%;
    height: 10vh;
    width: 10vh;
    border: 4px solid #333333;
    background-color: #ba5500;
    margin: 5px;
}

.bennett {
    background-image: url('/Images/Pyro/Character_Bennett_Thumb.png');
    background-size: cover;
    border-radius: 50%;
    height: 10vh;
    width: 10vh;
    border: 4px solid #333333;
    background-color: #ba5500;
    margin: 5px;
}

.diluc {
    background-image: url('/Images/Pyro/Character_Diluc_Thumb.png');
    background-size: cover;
    border-radius: 50%;
    height: 10vh;
    width: 10vh;
    border: 4px solid #333333;
    background-color: #ba5500;
    margin: 5px;
}

.hutao {
    background-image: url('/Images/pyro/Character_Hu_Tao_Thumb.png');
    background-size: cover;
    border-radius: 50%;
    height: 10vh;
    width: 10vh;
    border: 4px solid #333333;
    background-color: #ba5500;
    margin: 5px;
}

.klee {
    background-image: url('/Images/Pyro/Character_Klee_Thumb.png');
    background-size: cover;
    border-radius: 50%;
    height: 10vh;
    width: 10vh;
    border: 4px solid #333333;
    background-color: #ba5500;
    margin: 5px;
}

.thoma {
    background-image: url('/Images/Pyro/Character_Thoma_Thumb.png');
    background-size: cover;
    border-radius: 50%;
    height: 10vh;
    width: 10vh;
    border: 4px solid #333333;
    background-color: #ba5500;
    margin: 5px;
}

.xiangling {
    background-image: url('/Images/Pyro/Character_Xiangling_Thumb.png');
    background-size: cover;
    border-radius: 50%;
    height: 10vh;
    width: 10vh;
    border: 4px solid #333333;
    background-color: #ba5500;
    margin: 5px;
}

.xinyan {
    background-image: url('/Images/Pyro/Character_Xinyan_Thumb.png');
    background-size: cover;
    border-radius: 50%;
    height: 10vh;
    width: 10vh;
    border: 4px solid #333333;
    background-color: #ba5500;
    margin: 5px;
}

.yanfei {
    background-image: url('/Images/Pyro/Character_Yanfei_Thumb.png');
    background-size: cover;
    border-radius: 50%;
    height: 10vh;
    width: 10vh;
    border: 4px solid #333333;
    background-color: #ba5500;
    margin: 5px;
}

.yoimiya {
    background-image: url('/Images/Pyro/Character_Yoimiya_Thumb.png');
    background-size: cover;
    border-radius: 50%;
    height: 10vh;
    width: 10vh;
    border: 4px solid #333333;
    background-color: #ba5500;
    margin: 5px;
}